<ion-header color="danger">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>ajouterCampagne</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


</ion-content>
