<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" class="tabcolor">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" class="tabcolor">
      <ion-icon name="md-calculator"></ion-icon>
      <ion-label>Calculer</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab3" class="tabcolor">
      <ion-icon name="md-help"></ion-icon>
      <ion-label>Info</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
