<ion-header>
  <ion-toolbar color="success">
    <ion-title style="color:white;">Calcule de IMC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="/assets/calcule_imc.jpg"></ion-img>
    <div>
        <ion-card class="welcome-card">



            <ion-card-content *ngIf="aff == '1'">

                <h1 *ngIf="resulta=='Corpulence normale'"><ion-text color="success"><strong>{{resulta}}</strong></ion-text></h1>
                <h1 *ngIf="resulta=='Dénutrition'"><ion-text color="danger"><strong>{{resulta}}</strong></ion-text></h1>
                <h1 *ngIf="resulta=='Insuffisance pondérale (maigreur)'"><ion-text color="warning"><strong>{{resulta}}</strong></ion-text></h1>
                <h1 *ngIf="resulta=='Obésité morbide ou massive'"><ion-text color="warning"><strong>{{resulta}}</strong></ion-text></h1>
                <h1 *ngIf="resulta=='Obésité sévère'"><ion-text color="warning"><strong>{{resulta}}</strong></ion-text></h1>
                <h1 *ngIf="resulta=='Obésité modérée'"><ion-text color="warning"><strong>{{resulta}}</strong></ion-text></h1>
                <h1 *ngIf="resulta=='Surpoids'"><ion-text color="danger"><strong>{{resulta}}</strong></ion-text></h1>
                <ion-tab-bar slot="bottom" style="background-color: deeppink;">
                    <ion-tab-button  class="md-man" style="background-color: deeppink;">
                        <ion-icon name="md-man" style="color:white;"></ion-icon>
                        <ion-label style="color:white;">{{bien.taille}}</ion-label>
                    </ion-tab-button>

                    <ion-tab-button  class="tabcolor" style="background-color: deeppink;">
                        <ion-icon name="md-speedometer" style="color:white;"></ion-icon>
                        <ion-label style="color:white;">{{bien.poids}}</ion-label>
                    </ion-tab-button>
                    <ion-tab-button class="tabcolor" style="background-color: deeppink;">
                        <ion-icon name="md-clipboard" style="color:white;"></ion-icon>
                        <ion-label style="color:white;">{{bien.imc}}</ion-label>
                    </ion-tab-button>
                </ion-tab-bar>
            </ion-card-content>
        </ion-card>
    </div>

    <form #f="ngForm"   (ngSubmit)="oncalcule(f.value)">
    <ion-item>
        <ion-label position="floating" >Taille en Cm</ion-label>
        <ion-input type="text" name="taille"  ngModel>
        </ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating" >poids en Kg</ion-label>
        <ion-input type="text" name="poids"  ngModel>
        </ion-input>
    </ion-item>

  <ion-button  color = "primary" size="small" fill="solid" expand="block" size="largex" class="marge-t"  type="submit" > Calculer</ion-button>

</form>






</ion-content>
