<ion-header>
  <ion-toolbar color="success">
    <ion-title style="color:white;">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content overflow-scroll="true">
    <ion-card class="welcome-card">
      <ion-img src="/assets/36305-comment-calculer-imc.png"></ion-img>
      <ion-card-header>
          <ion-text color="primary"><h1><strong>JE CALCULE MON IMC</strong></h1></ion-text>
      </ion-card-header>
      <ion-card-content>
        <p>L’indice de masse corporelle (IMC) permet d’évaluer rapidement votre corpulence simplement avec votre poids et votre taille, quel que soit votre sexe. Calculez rapidement votre IMC et découvrez dans quelle catégorie vous vous situez.
L’indice de masse corporelle (IMC) est le seul indice validé par l’Organisation mondiale de la santé pour évaluer la corpulence d’un individu et donc les éventuels risques pour la santé. L’IMC permet de déterminer si l’on est en situation de maigreur, de surpoids ou d’obésité par exemple.</p>
      <ion-img src="/assets/images.jpeg"></ion-img>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">

    </ion-list>
</ion-content>
