<ion-header>
    <ion-toolbar color="success">
        <ion-title style="color:white;">A propos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="bg-profile" text-center padding>
        <img src="assets/logo33.PNG">
    </div>

    <ion-card class="bg-white" no-margin>
        <ion-card-content>
            <h2 margin-bottom>

            </h2>

            <p margin-bottom>
                Cette application a été créé par  TALOM BOUOPDA ARNAUD  analyste-programmeur en  informatique, afin d'aider les utilisateurs de mieux contrôler leurs poids.
                émail:talombouopdaarnaud@yahoo.com
                Coptyright © 2018-2019 STARDEV+. Par TALOM BOUOPDA ARNAUD
            </p>
        </ion-card-content>
    </ion-card>





</ion-content>
